---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

import ContactCTA from "../../components/ContactCTA.astro";
import Blog from "../../components/Blog.astro";
import Hero from "../../components/Hero.astro";
import Grid from "../../components/Grid.astro";

const projects = (await getCollection("blog")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
  title="Blog | Riley Sklar"
  description="Riley' Sklar's collection of blogs"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-4">
      <Hero
        title="Blog"
        tagline="Welcome to my blog, where I share a glimpse into my world as a developer, thinker, and creator. Here, you'll find an array of posts that span the breadth of my experiences and reflections on technology and development."
        align="start"
      />
      <Grid variant="offset">
        {
          projects.map((project) => (
            <li>
              <Blog project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
