.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  background-color: var(--gray-900);
  margin-bottom: 4em;
  border-radius: 2em;
  width: 100%;
}

input,
textarea {
  padding: 1em 1em;
  width: 100%;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #8e8e8e6e;
}

input:focus-visible,
textarea:focus-visible {
  outline: var(--accent-regular) auto 1px;
}

button[type="submit"] {
  padding: 1em 1em;
  border-radius: 8px;
  background-color: var(--accent-regular);
  color: var(--gray-900);
  transition: all ease 0.3s;
}

button:hover {
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}

button:active {
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
}

.form {
  width: auto;
}

.success {
  font-size: 1.25em;
  text-align: center;
  border: 1px solid var(--accent-regular);
  border-radius: 0.75em;
  padding: 0.5em;
}

@media (min-width: 50em) {
  .form {
    width: 500px;
  }



  .about {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
}
