---
import BaseLayout from "../layouts/BaseLayout.astro";
import { ExperienceList } from "../components/Experience";
import { EducationList } from "../components/Education";
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="Riley Sklar Portfolio"
  description="Front End Developer and UI Designer | Austin, Texas"
>
  <main class="stack gap-20">
    <div class="wrapper about">
      <Hero
        title="About Me"
        tagline="I'm not just building code; I'm crafting experiences that resonate"
      >
        <img
          width="1553"
          height="873"
          src="/assets/engagement.jpg"
          alt="Riley Sklar's engagement photo"
        />
      </Hero>

      <section>
        <h2 class="section-title">🔮 Background</h2>
        <div class="content">
          <p>
            As a developer working at a dynamic agency I manage a wide range of
            client projects that span various industries. My attention to detail
            is not just a skill—it's a part of who I am, allowing me to tailor
            solutions that not only meet but exceed our clients' expectations.
            I'm constantly on a journey of self-improvement, learning new
            technologies to stay ahead in this ever-evolving field. This thirst
            for knowledge isn't confined to my professional life; it spills over
            into my personal time, where I passionately build projects that not
            only challenge me but also allow me to explore new horizons.
          </p><br />
          <p>
            Self-taught and driven by an innate curiosity, I've cultivated a
            skill set that enables me to navigate the complexities of digital
            development with humble curiosity. My passion for technology is
            matched by my ability to lead teams with empathy and insight,
            fostering an environment where creativity and innovation thrive.
            Outside of work, my life is equally vibrant. My fiancée, is a
            constant source of support and inspiration. This balance between my
            professional aspirations, personal interests, and the simple
            pleasures of life — such as spending time with my poodle, Tico —
            have shaped me into the well-rounded individual I am today.
          </p>
        </div>
      </section>
      <section>
        <h3 class="section-title">💡 Experience</h3>
        <ExperienceList client:load />
      </section>
      <section>
        <h3 class="section-title">🎓 Education</h3>
        <EducationList client:load />
      </section>
      <section>
        <h2 class="section-title">🔨 Skills</h2>
        <div class="tag-bubble">
          <div class="tagGIS">JavaScript</div>
          <div class="tagGIS">TypeScript</div>
          <div class="tagGIS">CSS</div>
          <div class="tagGIS">React</div>
          <div class="tagGIS">Node.js</div>
          <div class="tagGIS">Next.js</div>
          <div class="tagGIS">RESTful API</div>
          <div class="tagGIS">React Router</div>
          <div class="tagGIS">UI Design</div>
          <div class="tagGIS">Vue.js</div>
          <div class="tagGIS">Axios</div>
          <div class="tagGIS">Redux</div>
          <div class="tagGIS">Tailwind</div>
          <div class="tagGIS">Jest</div>
          <div class="tagGIS">Supabase</div>
          <div class="tagGIS">Vite</div>
          <div class="tagGIS">Fetch</div>
          <div class="tagGIS">Figma</div>
          <div class="tagGIS">WordPress</div>
          <div class="tagGIS">SEO/GA4</div>
          <div class="tagGIS">WPEngine</div>
          <div class="tagGIS">Shopify</div>
          <div class="tagGIS">AWS</div>
        </div>
      </section>
    </div>

    <ContactCTA />
  </main>

  <style>
    .two-column-list {
      columns: 2; /* Create two columns */
      column-gap: 20px; /* Adjust the gap between columns as needed */
    }

    .job-title,
    .duration,
    .location {
      padding-left: 1em;
      padding-top: 0.5em;
    }

    .about {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
    }

    img {
      margin-top: 1.5rem;
      border-radius: 1.5rem;
      box-shadow: var(--shadow-md);
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: var(--gray-200);
    }

    .section-title {
      grid-column-start: 1;
      font-size: var(--text-xl);
      color: var(--gray-0);
      text-align: center;
    }

    .content :global(a) {
      text-decoration: 1px solid underline transparent;
      text-underline-offset: 0.25em;
      transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
      text-decoration-color: currentColor;
    }

    .tag-bubble {
      display: flex;
      flex-direction: row;
      gap: 0.5em;
      overflow-wrap: break-word;
      flex-wrap: wrap;
      text-wrap: balance;
      padding-top: 1em;
      justify-content: flex-start;
    }

    .tagGIS {
      background-color: var(--gray-900);
      border-radius: 100em;
      padding: 0.25em 1em;
      font-size: 1em;
      color: var(--gray-50);
    }

    li {
      list-style: circle;
      font-size: 0.75em;
      text-wrap: pretty;
      margin-left: 3em;
      line-height: 2;
    }

    @media (min-width: 50em) {
      .content h5 {
        font-size: var(--text-2xl);
      }

      .about > :global(:first-child) {
        grid-column-start: 2;
      }

      section {
        display: contents;
        font-size: var(--text-lg);
      }

      .section-title {
        text-align: left;
        font-size: 2.5em;
      }
    }
  </style>
</BaseLayout>
