---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="Riley Sklar Portfolio"
  description="Software Developer and UI Designer | Austin, Texas"
>
  <main class="stack gap-20">
    <div class="wrapper about">
      <Hero
        title="About Me"
        tagline="I'm not just building code; I'm crafting experiences that resonate"
      >
        <img
          width="1553"
          height="873"
          src="/assets/engagement.jpg"
          alt="Riley Sklar's engagement photo"
        />
      </Hero>

      <section>
        <h2 class="section-title">🔮 Background</h2>
        <div class="content">
          <p>
            As a developer working at a dynamic agency, I find myself at the
            crossroads of innovation and diversity, managing a wide range of
            client projects that span various industries. My attention to detail
            is not just a skill—it's a part of who I am, allowing me to tailor
            solutions that not only meet but exceed our clients' expectations.
            I'm constantly on a journey of self-improvement, learning new
            technologies to stay ahead in this ever-evolving field. This thirst
            for knowledge isn't confined to my professional life; it spills over
            into my personal time, where I passionately build projects that not
            only challenge me but also allow me to explore new horizons.
          </p><br />
          <p>
            Self-taught and driven by an innate curiosity, I've cultivated a
            comprehensive skill set that enables me to navigate the complexities
            of digital development with humble curiosity. My passion for
            technology is matched by my ability to lead teams with empathy and
            insight, fostering an environment where creativity and innovation
            thrive. Outside of work, my life is equally vibrant. My fiancée, is
            a constant source of support and inspiration. This balance between
            my professional aspirations, personal interests, and the simple
            pleasures of life — such as spending time with my poodle, Tico —
            have shaped me into the well-rounded individual I am today.
          </p>
        </div>
      </section>
      <section>
        <h3 class="section-title">💻 Experience</h3>
        <div class="content">
          <h5>ShakeWell Creative</h5>
          <p class="job-title">
            <strong>Lead Web Developer & UI/UX Designer</strong>
          </p>
          <p class="duration">Sep 2022 - Present</p>
          <p class="location">Austin, Texas, United States</p>
          <ul>
            <li>
              Led a team to deliver web applications for various clients,
              including Fortune 500 companies and state government agencies.
            </li>
            <li>
              Managed client relations, site architecture, and tech stack
              selection.
            </li>
            <li>
              Skills: JavaScript, React.js, CSS, Figma, UI Design, Vue.js, React
              Native, Full-Stack Development.
            </li>
          </ul>
        </div>
        <div class="content">
          <h5>Hero Digital</h5>
          <p class="job-title">
            <strong>Lead Production Designer</strong>
          </p>
          <p class="duration">Jul 2022 - Sep 2022</p>
          <p class="location">Austin, Texas</p>
          <ul>
            <li>
              Developed a high-fidelity prototype for an undisclosed software
              project.
            </li>
            <li>
              Skills: Visual Design, Adobe Creative Suite, Figma, Responsive Web
              Design.
            </li>
          </ul>
        </div>
        <div class="content">
          <h5>DoStuff</h5>
          <p class="job-title">
            <strong>Project Manager</strong>
          </p>
          <p class="duration">Jun 2022 - Sep 2022</p>
          <p class="location">Austin, Texas, United States</p>
          <ul>
            <li>Managed content creators for promotional activities.</li>
          </ul>
        </div>
        <div class="content">
          <h5>Creative Services, Inc.</h5>
          <p class="job-title">
            <strong>Digital Marketing Manager</strong>
          </p>
          <p class="duration">Sep 2020 - Jul 2022</p>
          <p class="location">Austin, Texas, United States</p>
          <ul>
            <li>Designed website UI and managed website development.</li>
            <li>Implemented automated marketing campaigns in HubSpot.</li>
          </ul>
        </div>
        <div class="content">
          <h5>KEI Abroad</h5>
          <p class="job-title">
            <strong>Senior Regional Manager</strong>
          </p>
          <p class="duration">Sep 2017 - Apr 2020</p>
          <p class="location">Austin, Texas Area</p>
          <ul>
            <li>
              Facilitated student enrollment in study abroad programs across
              Spain, Thailand, and Costa Rica.
            </li>
            <li>
              Expanded organization's global presence and fostered international
              educational opportunities.
            </li>
          </ul>
        </div>
        <div class="content">
          <h5>SHI International Corp.</h5>
          <p class="job-title">
            <strong>Inside Account Executive</strong>
          </p>
          <p class="duration">Jan 2014 - Jun 2014</p>
          <p class="location">Austin, Texas</p>
          <ul>
            <li>
              Exceeded sales targets through effective prospecting strategies.
            </li>
            <li>
              Managed sales pipeline and customer relationships to drive revenue
              growth.
            </li>
          </ul>
        </div>
        <div class="content">
          <h5>Centre d'Aprenentatge Empresarial</h5>
          <p class="job-title">
            <strong>English Language Instructor</strong>
          </p>
          <p class="duration">Sep 2013 - Nov 2013</p>
          <p class="location">Catalunya, Spain</p>
          <ul>
            <li>Taught English language to professionals at various levels.</li>
          </ul>
        </div>
        <div class="content">
          <h5>Diversity Abroad</h5>
          <p class="job-title">
            <strong>Global Education Representative</strong>
          </p>
          <p class="duration">Aug 2012 - Jul 2013</p>
          <p class="location">Berkeley, California</p>
          <ul>
            <li>
              Promoted global education access and diversity in study abroad
              programs.
            </li>
          </ul>
        </div>
        <div class="content">
          <h5>AmCham Costa Rica</h5>
          <p class="job-title">
            <strong>Marketing Intern</strong>
          </p>
          <p class="duration">May 2011 - Aug 2011</p>
          <p class="location">San José, Costa Rica</p>
          <ul>
            <li>
              Contributed to bilingual marketing campaigns targeting
              multinational companies.
            </li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">🔨 Skills</h2>
        <div class="tag-bubble">
          <div class="tagGIS">JavaScript</div>
          <div class="tagGIS">React</div>
          <div class="tagGIS">Node.js</div>
          <div class="tagGIS">Vite</div>
          <div class="tagGIS">Astro</div>
          <div class="tagGIS">Next.js</div>
          <div class="tagGIS">React Testing Library</div>
          <div class="tagGIS">Playwright</div>
          <div class="tagGIS">Graph QL</div>
          <div class="tagGIS">CSS3</div>
          <div class="tagGIS">Tailwind CSS</div>
          <div class="tagGIS">HTML5</div>
          <div class="tagGIS">Supabase</div>
          <div class="tagGIS">UI/UX Design</div>
          <div class="tagGIS">Figma</div>
          <div class="tagGIS">WordPress</div>
          <div class="tagGIS">WP Engine</div>
          <div class="tagGIS">AWS</div>
          <div class="tagGIS">Shopify & Liquid</div>
        </div>
      </section>
    </div>

    <ContactCTA />
  </main>

  <style>
    .two-column-list {
      columns: 2; /* Create two columns */
      column-gap: 20px; /* Adjust the gap between columns as needed */
    }

    .job-title,
    .duration,
    .location {
      padding-left: 1em;
      padding-top: 0.5em;
    }

    .about {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
    }

    .content {
      padding: 2em;
      background-color: var(--gray-900);
      border-radius: 20px;
    }

    img {
      margin-top: 1.5rem;
      border-radius: 1.5rem;
      box-shadow: var(--shadow-md);
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: var(--gray-200);
    }

    .section-title {
      grid-column-start: 1;
      font-size: var(--text-xl);
      color: var(--gray-0);
      text-align: center;
    }

    .content {
      grid-column: 2 / 4;
    }

    .content :global(a) {
      text-decoration: 1px solid underline transparent;
      text-underline-offset: 0.25em;
      transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
      text-decoration-color: currentColor;
    }

    .tag-bubble {
      display: flex;
      flex-direction: row;
      gap: 0.5em;
      overflow-wrap: break-word;
      flex-wrap: wrap;
      text-wrap: balance;
      padding-top: 1em;
      justify-content: flex-start;
    }

    .tagGIS {
      background-color: var(--gray-900);
      border-radius: 100em;
      padding: 0.25em 1em;
      font-size: 1em;
      color: var(--gray-50);
    }

    li {
      list-style: circle;
      font-size: 0.75em;
      text-wrap: pretty;
      margin-left: 3em;
      line-height: 2;
    }

    @media (min-width: 50em) {
      .about {
        display: grid;
        grid-template-columns: 1fr 60% 1fr;
      }

      .content h5 {
        font-size: var(--text-2xl);
      }

      .about > :global(:first-child) {
        grid-column-start: 2;
      }

      section {
        display: contents;
        font-size: var(--text-lg);
      }

      .section-title {
        text-align: left;
      }
    }
  </style>
</BaseLayout>
