---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="Riley Sklar Portfolio"
  description="Web Designer and Developer | Austin, Texas"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero title="About" tagline="">
        🚀 Web Developer | 🌐 UI/UX Designer | 📱 Mobile & Product Enthusiast |
        📍 Austin, Texas
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Riley Sklar going for a surf on South Padre Island, Texas"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I'm a passionate web developer and designer based in Austin, Texas,
            with a keen focus on creating web applications and mobile products.
            I believe in strategic, process-driven workflows to turn ideas into
            reality.
          </p><br />
          <p>
            Drawing inspiration from my life experiences, I infuse creativity
            into my work. When I'm not crafting digital experiences, you'll find
            me exploring the greenbelt with my poodle or rocking out on stages
            all across Austin with my <a href="https://thebadbadbad.com/"
              >band</a
            >.
          </p><br />

          <p>
            Always up for a game of ice hockey, a run in the great outdoors,
            whipping up tasty dishes, and jamming to my favorite tunes.
          </p>
          <br />
          <ul>
            <li>The path of UI/UX Design, I traverse with purpose</li>
            <li>In the realm of Web Development, I build and craft</li>
            <li>In Mobile and Product Design, my expertise shines.</li>

            <li>
              Fluent in both English and Spanish, bridging cultures and hearts,
            </li>
            <li>
              A devout enthusiast of the symphony of life, in the language of
              music, I converse.
            </li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <h4>Texas A&M University</h4> 2008-2012 <br />BA International
          Studies, Minor in Spanish
        </div>
        <div class="content">
          <h4>Universidad de Costa Rica</h4> 2009 <br />San Jose, Costa Rica
          <br /> Spanish
        </div>
        <div class="content">
          <h4>Oxford TEFL</h4> 2013 <br /> Barcelona, Spain
          <br /> TEFL Certification
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <ul class="two-column-list">
            <li>JavaScript</li>
            <li>PHP</li>
            <li>UI/UX Design</li>
            <li>Figma</li>
            <li>Astro.js</li>
            <li>XML</li>
            <li>HTML5</li>
            <li>Tailwind CSS</li>
            <li>CSS</li>
            <li>VS Code</li>
            <li>WordPress</li>
            <li>Craft CMS</li>
            <li>Astro.js</li>
            <li>WP Engine</li>
            <li>AWS</li>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .two-column-list {
    columns: 2; /* Create two columns */
    column-gap: 20px; /* Adjust the gap between columns as needed */
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
