---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import ContactCTA from "../components/ContactCTA.astro";
---

<BaseLayout
  title="Contact"
  description="Front End Developer and UI Designer | Austin, Texas"
>
  <main class="stack gap-10">
    <div class="wrapper about">
      <Hero
        title="Contact Me"
        tagline=""
      />
      <ContactCTA />
    </div>
  </main>
</BaseLayout>

<style>
  .about {
    gap: 0;
  }

  .aside {
    padding: 0.5rem;
    width: 800px;
    margin: 0 auto;
  }
</style>