---
import { getCollection } from "astro:content";
import { Accordion } from "../components/Accordion";
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";
import GitHubCalendar from "react-github-calendar";
import Icon from "../components/Icon.astro";
const projects = (await getCollection("work")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);

const faqs = [
  {
    title: "What technologies do I specialize in as a developer?",
    text: "I specialize in a broad array of technologies including JavaScript, React, Node.js, and UI/UX design, with a focus on creating dynamic, full-stack solutions.",
  },
  {
    title:
      "How do I ensure my web development projects meet client expectations?",
    text: "I prioritize meticulous attention to detail and a commitment to excellence, tailoring each project to exceed client expectations through innovative solutions.",
  },
  {
    title: "How do I stay updated with the latest technology trends?",
    text: "I continuously engage in self-improvement and learning, adopting the latest technologies to keep my skill set current and relevant.",
  },
  {
    title: "What is my approach to problem-solving in development projects?",
    text: "I approach problem-solving with a blend of creativity and analytical thinking, leveraging my comprehensive skill set to find efficient and innovative solutions.",
  },
];
---

<BaseLayout
  title="My Work | Riley Sklar"
  description="Learn about Riley Sklar's most recent projects"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="🚧 My Work"
        tagline="See my most recent agency work below from a variety of tech stacks and a diversity of client needs."
        align="start"
      />

      <Grid variant="offset">
        {
          projects.map((project) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
      <div class="faq-parent">
        <div class="section-header stack gap-2 lg:gap-4">
          <h3 class="faq">📋 FAQ</h3>
        </div>
        <Accordion client:only data={faqs} />
      </div>
      <div class="calendar-wrapper">
        <a
          href="https://github.com/rileysklar"
          target="_blank"
          rel="noopener noreferrer"
          class="github-link"
        >
          <Icon icon="github-logo" />
          <h4>GitHub Repo</h4>
        </a>

        <GitHubCalendar client:only username="rileysklar" />
      </div>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .section-header {
    justify-self: center;
    text-align: center;
    max-width: 50ch;
    font-size: var(--text-md);
    color: var(--gray-300);
  }

  .section-header h3 {
    font-size: var(--text-2xl);
  }

  @media (min-width: 50em) {
    .section-header h3 {
      font-size: var(--text-4xl);
    }

    .faq-parent {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
</style>
