---
import Icon from "./Icon.astro";
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="footer-top">
    <div class="group">
      <div class="flex flex-col justify-center sm:flex-row gap-y-2">
        <span>
          Built with <strong>
            <a
              class="group transition-all duration-300 ease-in-out relative pl-1 hover:text-bg z-20"
              href="https://astro.build/"
              rel="noopener noreferrer"
              target="_blank"
            >
              Astro 🚀
            </a>
          </strong>

          <span class="mx-2 sm:inline hidden">|</span>
        </span>
        <span>
          Hosted on <strong>
            <a
              class="group transition-all duration-300 ease-in-out relative pl-1 hover:text-bg z-20"
              href="https://netlify.com/"
              rel="noopener noreferrer"
              target="_blank"
            >
              Netlify<span
                class="absolute left-0 -bottom-0 w-full h-0.5 bg-brand -z-10 group-hover:h-full group-hover:transition-all rounded-sm"
              ></span>
            </a>
          </strong>
        </span>
      </div>
      <p class="socials">
        <a
          href="https://drive.google.com/file/d/1QDPqCFQjYVpBZ9IWQMIJbQTVo9Nr70EO/view?usp=drive_link"
        >
          Resume</a
        >
        <a href="https://www.linkedin.com/in/rileysklar/"> LinkedIn</a>
        <a href="https://github.com/rileysklar"> GitHub</a>
        <a href="https://twitter.com/rileysklar"> Twitter</a>
        <a href="https://codepen.io/rileyshake"> CodePen</a>
      </p>
    </div>
  </div>

  <div class="copyright">
    &copy; {currentYear} Design & Dev by
    <a href="https://rileysklar.com/"> Riley Sklar</a>
  </div>
</footer>
<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: auto;
    padding: 3rem 2rem 3rem;
    text-align: center;
    color: var(--gray-400);
    font-size: var(--text-sm);
    /* background-color: var(--gray-900); */
    color: var(--gray-200);
    background-image: url(./../../public/assets/backgrounds/topo.png);
    background-size: cover;
  }

  footer a {
    color: var(--accent-dark);
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  footer a:hover,
  footer a:focus {
    text-decoration-color: currentColor;
  }

  .group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .group span {
    display: flex;
    justify-content: center;
  }

  a.group {
    gap: 0;
  }

  .socials {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  span.mx-2.sm\:inline.hidden {
    display: none;
  }

  @media (min-width: 50em) {
    footer {
      flex-direction: column;
      justify-content: space-between;
      padding: 2.5rem 5rem;
    }

    span.mx-2.sm\:inline.hidden {
      display: block;
    }

    .group {
      flex-direction: row;
      gap: 1rem;
      flex-wrap: wrap;
    }

    .socials {
      justify-content: flex-end;
    }
  }
</style>
