---
interface Props {
  title: string;
  tagline?: string;
  align?: "start" | "center";
}

const { align = "center", tagline, title } = Astro.props;
---

<div class:list={["hero stack gap-4", align]}>
  <div class="stack gap-2">
    <h1 class="title">{title}</h1>
    {tagline && <p class="tagline">{tagline}</p>}
  </div>
  <slot />
</div>

<style>
  .hero {
    font-size: var(--text-lg);
    text-align: center;
    overflow: hidden;
    padding: 1em;
    border-radius: 10px;
  }

  .title,
  .tagline {
    max-width: 37ch;
    margin-inline: auto;
    text-shadow: 0px 0px 0 var(--gray-900), 1px 1px 0 var(--gray-900),
      2px 2px 0 var(--gray-900), 3px 3px 0 var(--gray-900),
      4px 4px 0 var(--gray-900), 5px 5px 0 var(--gray-900),
      6px 6px 0 var(--gray-900), 7px 7px 0 var(--gray-900),
      8px 8px 0 var(--gray-900), 9px 9px 0 var(--gray-900),
      10px 10px 0 var(--gray-900), 11px 11px 0 var(--gray-900),
      12px 12px 0 var(--gray-900), 13px 13px 0 var(--gray-900),
      14px 14px 0 var(--gray-900), 15px 15px 0 var(--gray-900),
      16px 16px 0 var(--gray-900), 17px 17px 0 var(--gray-900),
      18px 18px 0 var(--gray-900), 19px 19px 0 var(--gray-900),
      20px 20px 0 var(--gray-900), 21px 21px 0 var(--gray-900),
      22px 22px 0 var(--gray-900), 23px 23px 0 var(--gray-900),
      24px 24px 0 var(--gray-900), 25px 25px 0 var(--gray-900),
      26px 26px 0 var(--gray-900), 27px 27px 0 var(--gray-900),
      28px 28px 0 var(--gray-900), 29px 29px 0 var(--gray-900),
      30px 30px 0 var(--gray-900), 31px 31px 0 var(--gray-900),
      32px 32px 0 var(--gray-900), 33px 33px 0 var(--gray-900),
      34px 34px 0 var(--gray-900), 35px 35px 0 var(--gray-900),
      36px 36px 0 var(--gray-900), 37px 37px 0 var(--gray-900),
      38px 38px 0 var(--gray-900), 39px 39px 0 var(--gray-900),
      40px 40px 0 var(--gray-900), 41px 41px 0 var(--gray-900),
      42px 42px 0 var(--gray-900), 43px 43px 0 var(--gray-900),
      44px 44px 0 var(--gray-900), 45px 45px 0 var(--gray-900),
      46px 46px 0 var(--gray-900), 47px 47px 0 var(--gray-900),
      48px 48px 0 var(--gray-900), 49px 49px 0 var(--gray-900),
      50px 50px 0 var(--gray-900), 51px 51px 0 var(--gray-900),
      52px 52px 0 var(--gray-900), 53px 53px 0 var(--gray-900),
      54px 54px 0 var(--gray-900), 55px 55px 0 var(--gray-900),
      56px 56px 0 var(--gray-900), 57px 57px 0 var(--gray-900),
      58px 58px 0 var(--gray-900), 59px 59px 0 var(--gray-900),
      60px 60px 0 var(--gray-900), 61px 61px 0 var(--gray-900),
      62px 62px 0 var(--gray-900), 63px 63px 0 var(--gray-900),
      64px 64px 0 var(--gray-900), 65px 65px 0 var(--gray-900),
      66px 66px 0 var(--gray-900), 67px 67px 0 var(--gray-900),
      68px 68px 0 var(--gray-900), 69px 69px 0 var(--gray-900),
      70px 70px 0 var(--gray-900), 71px 71px 0 var(--gray-900),
      72px 72px 0 var(--gray-900), 73px 73px 0 var(--gray-900),
      74px 74px 0 var(--gray-900), 75px 75px 0 var(--gray-900),
      76px 76px 0 var(--gray-900), 77px 77px 0 var(--gray-900),
      78px 78px 0 var(--gray-900), 79px 79px 0 var(--gray-900),
      80px 80px 0 var(--gray-900), 81px 81px 0 var(--gray-900),
      82px 82px 0 var(--gray-900), 83px 83px 0 var(--gray-900),
      84px 84px 0 var(--gray-900), 85px 85px 0 var(--gray-900),
      86px 86px 0 var(--gray-900), 87px 87px 0 var(--gray-900),
      88px 88px 0 var(--gray-900), 89px 89px 0 var(--gray-900),
      90px 90px 0 var(--gray-900), 91px 91px 0 var(--gray-900),
      92px 92px 0 var(--gray-900), 93px 93px 0 var(--gray-900),
      94px 94px 0 var(--gray-900), 95px 95px 0 var(--gray-900),
      96px 96px 0 var(--gray-900), 97px 97px 0 var(--gray-900),
      98px 98px 0 var(--gray-900), 99px 99px 0 var(--gray-900),
      100px 100px 0 var(--gray-900), 101px 101px 0 var(--gray-900),
      102px 102px 0 var(--gray-900), 103px 103px 0 var(--gray-900),
      104px 104px 0 var(--gray-900), 105px 105px 0 var(--gray-900),
      106px 106px 0 var(--gray-900), 107px 107px 0 var(--gray-900),
      108px 108px 0 var(--gray-900), 109px 109px 0 var(--gray-900),
      110px 110px 0 var(--gray-900), 111px 111px 0 var(--gray-900),
      112px 112px 0 var(--gray-900), 113px 113px 0 var(--gray-900),
      114px 114px 0 var(--gray-900), 115px 115px 0 var(--gray-900),
      116px 116px 0 var(--gray-900), 117px 117px 0 var(--gray-900),
      118px 118px 0 var(--gray-900), 119px 119px 0 var(--gray-900),
      120px 120px 0 var(--gray-900), 121px 121px 0 var(--gray-900),
      122px 122px 0 var(--gray-900), 123px 123px 0 var(--gray-900),
      124px 124px 0 var(--gray-900), 125px 125px 0 var(--gray-900),
      126px 126px 0 var(--gray-900), 127px 127px 0 var(--gray-900),
      128px 128px 0 var(--gray-900), 129px 129px 0 var(--gray-900),
      130px 130px 0 var(--gray-900), 131px 131px 0 var(--gray-900),
      132px 132px 0 var(--gray-900), 133px 133px 0 var(--gray-900),
      134px 134px 0 var(--gray-900), 135px 135px 0 var(--gray-900),
      136px 136px 0 var(--gray-900), 137px 137px 0 var(--gray-900),
      138px 138px 0 var(--gray-900), 139px 139px 0 var(--gray-900),
      140px 140px 0 var(--gray-900), 141px 141px 0 var(--gray-900),
      142px 142px 0 var(--gray-900), 143px 143px 0 var(--gray-900),
      144px 144px 0 var(--gray-900), 145px 145px 0 var(--gray-900),
      146px 146px 0 var(--gray-900), 147px 147px 0 var(--gray-900),
      148px 148px 0 var(--gray-900), 149px 149px 0 var(--gray-900),
      150px 150px 0 var(--gray-900), 151px 151px 0 var(--gray-900),
      152px 152px 0 var(--gray-900), 153px 153px 0 var(--gray-900),
      154px 154px 0 var(--gray-900), 155px 155px 0 var(--gray-900),
      156px 156px 0 var(--gray-900), 157px 157px 0 var(--gray-900),
      158px 158px 0 var(--gray-900), 159px 159px 0 var(--gray-900),
      160px 160px 0 var(--gray-900), 161px 161px 0 var(--gray-900),
      162px 162px 0 var(--gray-900), 163px 163px 0 var(--gray-900),
      164px 164px 0 var(--gray-900), 165px 165px 0 var(--gray-900),
      166px 166px 0 var(--gray-900), 167px 167px 0 var(--gray-900),
      168px 168px 0 var(--gray-900), 169px 169px 0 var(--gray-900),
      170px 170px 0 var(--gray-900), 171px 171px 0 var(--gray-900),
      172px 172px 0 var(--gray-900), 173px 173px 0 var(--gray-900),
      174px 174px 0 var(--gray-900), 175px 175px 0 var(--gray-900),
      176px 176px 0 var(--gray-900), 177px 177px 0 var(--gray-900),
      178px 178px 0 var(--gray-900), 179px 179px 0 var(--gray-900),
      180px 180px 0 var(--gray-900), 181px 181px 0 var(--gray-900),
      182px 182px 0 var(--gray-900), 183px 183px 0 var(--gray-900),
      184px 184px 0 var(--gray-900), 185px 185px 0 var(--gray-900),
      186px 186px 0 var(--gray-900), 187px 187px 0 var(--gray-900),
      188px 188px 0 var(--gray-900), 189px 189px 0 var(--gray-900),
      190px 190px 0 var(--gray-900), 191px 191px 0 var(--gray-900),
      192px 192px 0 var(--gray-900), 193px 193px 0 var(--gray-900),
      194px 194px 0 var(--gray-900), 195px 195px 0 var(--gray-900),
      196px 196px 0 var(--gray-900), 197px 197px 0 var(--gray-900),
      198px 198px 0 var(--gray-900), 200px 200px 0 transparent;
  }

  .stack .gap-2 {
    padding: 2em 2em 0 2em;
  }

  .title {
    font-size: var(--text-3xl);
    color: var(--gray-0);
  }

  @media (min-width: 50em) {
    .hero {
      font-size: var(--text-xl);
    }

    .start {
      text-align: start;
    }

    .start .title,
    .start .tagline {
      margin-inline: unset;
    }

    .title {
      font-size: var(--text-5xl);
    }
  }
</style>
