---
import Icon from "./Icon.astro";
---

<div class="box">
  <section class="skills">
    <div class="stack gap-2 lg:gap-4">
      <Icon
        icon="terminal-window"
        color="var(--accent-regular)"
        size="2.5rem"
        gradient
      />
      <h2>Agile Software Developer</h2>
      <p>
        Adaptable skills for diverse projects and rapid mastery of new
        technologies and languages as required. Proficient in various
        programming languages, ensuring effective contribution to a range of
        projects with quick adaptation to evolving tech needs.
      </p>
    </div>
    <div class="stack gap-2 lg:gap-4">
      <Icon
        icon="trophy"
        color="var(--accent-regular)"
        size="2.5rem"
        gradient
      />
      <h2>Team Leader</h2>
      <p>
        I guide and empower colleagues to be their best selves. Elevating teams
        by uniting their strengths, fostering growth, and crafting outstanding
        work together.
      </p>
    </div>
    <div class="stack gap-2 lg:gap-4">
      <Icon
        icon="strategy"
        color="var(--accent-regular)"
        size="2.5rem"
        gradient
      />
      <h2>Design Focused</h2>
      <p>
        Combining design and development skills offers the unique advantage of
        not only creating visually appealing and user-friendly products but also
        ensuring their seamless functionality, resulting in a holistic user
        experience that captures both form and function.
      </p>
    </div>
  </section>
  <div class="tag-bubble">
    <div class="tagGIS">JavaScript</div>
    <div class="tagGIS">React</div>
    <div class="tagGIS">Astro</div>
    <div class="tagGIS">Tailwind CSS</div>
    <div class="tagGIS">CSS</div>
    <div class="tagGIS">Supabase</div>
    <div class="tagGIS">PHP</div>
    <div class="tagGIS">UI/UX Design</div>
    <div class="tagGIS">Figma</div>
    <div class="tagGIS">Next JS</div>
    <div class="tagGIS">HTML5</div>
    <div class="tagGIS">VS Code</div>
    <div class="tagGIS">WordPress</div>
    <div class="tagGIS">Craft CMS</div>
    <div class="tagGIS">WP Engine</div>
    <div class="tagGIS">AWS</div>
    <div class="tagGIS">Shopify & Liquid</div>
  </div>
</div>
<style>
  .skills-list {
    padding-top: 2em;
  }
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  .tag-bubble {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    text-wrap: balance;
    padding-top: 3em;
  }

  .tagGIS {
    background-color: var(--gray-900);
    border-radius: 100em;
    padding: 0.25em 1em;
    font-size: 1em;
    color: var(--gray-50);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
