---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Full Stack</h2>
    <p>
      Experience with a variety of programming languages and technologies with
      an ability to work on a wide range of projects and to quickly learn new
      technologies as needed
    </p>

    <ul>
      <li>
        JavaScript, Astro, React, Node.js, HTML5, CSS, Tailwind, SCSS, jQuery,
        PHP, XML, Python, Wordpress GitHub, Supabase, AWS, VS Code,
      </li>
    </ul>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Team Leader</h2>
    <p>
      I guide and empower colleagues to be their best selves. Elevating teams by
      uniting their strengths, fostering growth, and crafting outstanding work
      together.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Design Focused</h2>
    <p>
      Combining design and development skills offers the unique advantage of not
      only creating visually appealing and user-friendly products but also
      ensuring their seamless functionality, resulting in a holistic user
      experience that captures both form and function.
    </p>
    <ul>
      <li>Figma</li>
    </ul>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
