---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <div class="stack backgrounds">
      <Nav />
      <slot />
      <Footer />
    </div>
    
    <script>
      // Add “loaded” class once the document has completely loaded.
      addEventListener("load", () =>
        document.documentElement.classList.add("loaded")
      );
    </script>

    <style>
      :root {
        --bg-image-main: none;
        --bg-image-main-curves: none;
        --bg-image-subtle-1: none;
        --bg-image-subtle-2: none;
        --bg-image-footer: none;
        --nav-height: 4rem;
      }

      :root.theme-dark {
        --bg-image-main: none;
        --bg-image-main-curves: none;
        --bg-image-subtle-1: none;
        --bg-image-subtle-2: none;
        --bg-image-footer: none;
      }

      /* These backgrounds are displayed below the fold, so we lazy load them
			   once the `.loaded` class has been set.  */
      :root.loaded {
        --bg-image-subtle-1: none;
        --bg-image-subtle-2: none;
        --bg-image-footer: none;
      }
      :root.loaded.theme-dark {
        --bg-image-subtle-1: none;
        --bg-image-subtle-2: none;
        --bg-image-footer: none;
      }

      @media (min-width: 50em) {
        :root {
          --bg-image-main: none;
          --bg-image-subtle-1: none;
          --bg-image-subtle-2: none;
          --bg-image-footer: none;
        }
        :root.theme-dark {
          --bg-image-main: none;
          --bg-image-subtle-1: none;
          --bg-image-subtle-2: none;
          --bg-image-footer: none;
        }

        :root.loaded {
          --bg-image-subtle-1: none;
          --bg-image-subtle-2: none;
          --bg-image-footer: none;
        }
        :root.loaded.theme-dark {
          --bg-image-subtle-1: none;
          --bg-image-subtle-2: none;
          --bg-image-footer: none;
        }
      }

      .stack {
        padding-top: calc(var(--nav-height) + 1rem);
      }

      .backgrounds {
        min-height: 100%;
        isolation: isolate;
        background-blend-mode: /*noise*/ overlay,
          /*footer*/ var(--bg-blend-mode), /*header1*/ var(--bg-svg-blend-mode),
          /*header2*/ normal, /*base*/ normal;
      }

      @media (forced-colors: active) {
        /* Deactivate custom backgrounds for high contrast users. */
        .backgrounds {
          background: none;
          background-blend-mode: none;
          --bg-gradient-size: none;
        }
      }
    </style>


  </body>
</html>
